@import 'https://fonts.googleapis.com/css?family=Roboto';
@import url('https://fonts.googleapis.com/css?family=Poppins|Open+Sans');

svg {
  fill: currentColor;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.header-image {
  margin-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
}

/*.event-details {
  margin-top: 25px;
}*/

.rsvp-header {
  margin: 10% 0px;
  text-align: center;
  font-size: 35px;
  font-family: 'poppins', arial;
  color: white;
}

.rsvp-p {
  text-align: center;
  font-size: 20px;
  color: white;
}

.div-line {
    border: solid thin lightgray;
    margin: 5%;
}

.header-text {
  color: white;
  font-size: 40px;
  font-family: 'poppins', arial;
  text-align: center;
}

.page-headline {
  text-align: center;
  margin-top: 0px;
}

.rsvp-details-wrapper {
  background-color:#f3c125 ;
  padding: 0px;
}

.rsvp-details-wrapper-div {
  padding: 10px 10px 15px 0px;
}

.event-details {
  background-color: #1e1e1e;
  /*margin-top: 20px;*/
  font-size: 14px;
  padding: 37px 10px;
}

.event-details-ul {
  /*padding: 10px;*/
  color: white;
  font-size: 12px;
}

.event-details-h5 {
  padding-left: 40px;
  margin-top: -33px;
}

.event-details-address {
  padding-left: 40px;
}

.event-details-category {
  /*font-weight: bold;*/
  font-family: 'poppins', arial;
}

.event-description {
  margin-top: 40px;
  font-size: 16px;
}

.agenda-section {
  margin-top: 20px;
  border: solid white thin;
  padding: 5px;
}

.svg-icon {
  width: 30px;
  margin-bottom: 15px;
}

.svg-icon-location {
  width:28px;
  padding-left: 4px;
}


/* RSVP Form */

input[type = text] {
  border: none;
  width: 100%;
  font-size: 2rem;
}

fieldset {
  border: none;
  padding: 10px;
}

.form-group-label {
  font-size: 16px;
  color: black;
  font-family: 'poppins', arial;
  text-align: left;
  color: white;
  font-weight:300;
}

.form-group-label-radio {
  margin-top: 5px;
}

.label-button {
  color: black;
}

.submit-wrapper {
  padding: 20px 5%;
}

.form-group {
  padding: 0px 5%;
  margin-bottom: 0px;
}

.submit-btn {
  border: none;
  border-radius: 0px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  font-size: 18px;
  color: #f39c12;
  background-color: white;
}

.submit-btn:hover {
  color: white;
  background-color: #1a1a1a;
}

.about-section {
  margin-top: 40px;
  /*border: solid;*/
  padding: 40px 0px;
}

.about-section > p {
  font-size: 16px;
}

.about-headline {
  text-align: center;
  margin-top: 0px;
  font-family: 'poppins', arial;

}

.about-img {
  height: 100px;
  width: 100px;
  margin: 20px auto 20px auto;
  display: block;
  border-radius: 50%;
}

.company-logo {
  display: block;
  margin: 2% auto;
  width: 400px;
  padding-top: 60px;
}

footer {
  text-align: center;
  font-size: 12px;
  font-family: 'poppins', arial;
  margin-bottom: 3%;
}

.footer-h5 {
  font-size: 10px;
}

@media only screen and (min-width: 400px) and (max-width: 599px) {



  .event-description {
    margin-top: 60px;
  }

  .rsvp-header {
    margin: 7% 0px;
  }

  .form-section {
    text-align: center;
  }

  .company-logo {
    margin-top: 120px;
    width: 200px;
  }
}


@media only screen and (min-width: 600px) and (max-width: 800px) {

  .header-text {
    font-size: 40px;
  }

  .rsvp-header {
    margin: 5% 0px;
  }

  .event-details-ul {
    font-size: 16px;
  }

  .section-h2 {
  font-size: 35px;
  }

  p, .form-group-label, .label-button ,[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    font-size: 17px;
  }

  .form-section {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .event-details-ul {
    font-size: 16px;
  }

  .event-details {
    background-color: #e8aa00;
    padding: 15px 10px;
  }

  .rsvp-header {
    margin: 0% 0px;
  }

  .submit-wrapper {
    padding: 0px 5%;
  }

  .submit-btn {
    font-size: 1.7rem;
  }

}

@media only screen and (min-width: 801px) {

  nav ul a, .submit-btn, .header-rsvp-btn {
    font-size: 1.7rem;
  }

  .header-text {
    font-size: 45px;
  }

  .rsvp-header {
    margin: 0% 0px;
  }

  .event-details {
    background-color: #e8aa00;
  }

  .event-details-ul {
    font-size: 16px;
  }

  .event-detail-label{
    font-size: 25px;
  }

  .section-h2 {
  font-size: 40px;
  }

 /* p, .form-group-label, .label-button ,[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    font-size: 20px;
  }

  input[type=text] {
    width: 60%;
  }*/
}

@media only screen and (min-width: 992px) {

  .header-text {
    font-size: 55px;
  }

  .header-section {
    height: 620px;
  }

  .header-rsvp-btn {
    display: none;
  }

  .event-details {
    padding: 15px 10px 36px 10px;
  }

}


@media only screen and (min-width: 1100px) {

  nav {
    height: 85px;
  }

  nav ul a, .submit-btn {
    font-size: 2rem;
  }

  nav ul {
    margin: 11px auto;
  }

  .header-text {
    font-size: 55px;
  }

  .logo {
  height:70px;
  }

  .event-detail-label {
    font-size: 30px;
  }

  .section-h2 {
  font-size: 45px;
  }

}
@media only screen and (min-width: 1200px) {

  .event-details {
    padding: 25px 10px 41px 10px;
  }
}

